ICDAR2013_table_dataset/eu-dataset/competition-entry-structure-model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="document">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="table" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="region" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="cell">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="bounding-box" minOccurs="0" maxOccurs="1"> <!-- the bounding box is optional -->
                                                        <xsd:complexType>
                                                            <xsd:attribute name="x1" type="xsd:integer" use="required"/>
                                                            <xsd:attribute name="y1" type="xsd:integer" use="required"/>
                                                            <xsd:attribute name="x2" type="xsd:integer" use="required"/>
                                                            <xsd:attribute name="y2" type="xsd:integer" use="required"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="content" type="xsd:string" minOccurs="1"/>
                                                    <xsd:element name="instruction" minOccurs="0" maxOccurs="unbounded"> <!-- the instructions are optional -->
                                                        <xsd:complexType>
                                                            <xsd:attribute name="instr-id" type="xsd:integer" use="required"/>
                                                            <xsd:attribute name="subinstr-id" type="xsd:integer"/>
                                                        <!--<xsd:attribute name="text" type="xsd:string" use="required"/>
                                                            <xsd:attribute name="x1" type="xsd:integer" use="required"/>
                                                            <xsd:attribute name="y1" type="xsd:integer" use="required"/>
                                                            <xsd:attribute name="x2" type="xsd:integer" use="required"/>
                                                            <xsd:attribute name="y2" type="xsd:integer" use="required"/>-->
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute name="id" type="xsd:nonNegativeInteger" use="required"/>
                                                <xsd:attribute name="start-col" type="xsd:nonNegativeInteger" use="required"/>
                                                <xsd:attribute name="start-row" type="xsd:nonNegativeInteger" use="required"/>
                                                <xsd:attribute name="end-col" type="xsd:nonNegativeInteger"/>
                                                <xsd:attribute name="end-row" type="xsd:nonNegativeInteger"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="id" type="xsd:nonNegativeInteger" use="required"/>
                                    <xsd:attribute name="page" type="xsd:positiveInteger" use="required"/>
                                    <xsd:attribute name="col-increment" type="xsd:integer"/>
                                    <xsd:attribute name="row-increment" type="xsd:integer"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="id" type="xsd:nonNegativeInteger" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="filename" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
